__pycache__
*.py[cod]
*.pyo
*.pyc
*$py.class
base

# Django stuff:
*.log
local_settings.py
db.sqlite3

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea

test_data
.pytest_cache
